@model TestSystem.BLL.DTO.TestDTO
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Id)
            <p>@Html.EditorFor(model => model.Id)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.Id_Owner)
            <p>@Html.EditorFor(model => model.Id_Owner)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.Title)
            <p>@Html.EditorFor(model => model.Title)</p>
            @Html.ValidationMessageFor(model => model.Title, "")
        </div>
        <div>
            @Html.LabelFor(model => model.Id_Category)
            <p>@Html.EditorFor(model => model.Id_Category)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.TimeForTest)
            <p>@Html.EditorFor(model => model.TimeForTest)</p>
        </div>
        <p><input type="submit" value="Добавить" /></p>
    }
</div>
